################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/programy na github C++/slownik/.vs/Projekt/v16
/programy na github C++/slownik/.vs/Dictionary/v16
